table {
     width: 100%;
}

table, th, td {
    border: 1px solid black;
}
tr:nth-child(even) {background-color: #f2f2f2}
th {
    background-color: crimson;
    color: white;
}
.search_box_body {
    display: inline-table;
}
input.input_search {
    width: 28%;
}
ul.search_box_ul {
    list-style: none;
}
ul.search_box_ul {
    list-style: none;
    padding: 0px;
}
li.search_box_li {
    margin: 8px 0px 8px 0px;
}
.footer {
    margin-top: 20px;
	color: #999;
	background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
}
.loginbox {
	text-align: center;
    background: dimgrey;
    padding: 40px;
}
form#login_form {
    display: grid;
}
input.input_all {
    margin-top: 3px;
    margin-bottom: 3px;
}
.order_total_box {
    display: -webkit-inline-box;
    background-color: crimson;
    float: right;
    padding: 0px 20px 0px 20px;
    color: white;
}